@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion one', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
   

}
html body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}
header a, footer{
    color: white;
    text-decoration:  none;
    font-weight: bolder;
    
}
header a:hover, footer a:hover{
    text-decoration: underline;
    
} 
section{
    padding-top: 10vh ;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.69);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.706);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.545);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    
}
section#img01{
    background-image: url(https://img.freepik.com/free-photo/two-people-holding-hands-together-with-love-warmth-wooden-table_1150-26177.jpg?w=2000);
    background-position: left center;
    background-size: cover;
    
}
section#img02{
    background-image: url(https://img.freepik.com/vetores-gratis/silhueta-de-casal-se-beijando-em-um-fundo-de-coracao_1048-7352.jpg);
    background-size: center center;
    
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}